{% extends 'basis.html' %}
{% load static %}
{% load i18n %}
<!----HEAD---->
{% block styles %}
<style>
.section1, .section2, .section4{display:none;}



</style>
{% endblock %}
<!---//HEAD---->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

{% block titel %} Stuur een bericht {% endblock %}

 

<!----SECTION------>
{% block section3 %} 
{% include "hulpcontact.html" %} 
{% endblock %}   
<!--//SECTION------>




