{% extends 'basis.html' %}
{% load static %}
{% load i18n %}
<!----HEAD---->
{% block styles %}
<style>
.section1{display:none;}
</style>
{% endblock %}
<!---//HEAD---->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!----SECTION------>
 {% block section0 %}  
        <div class = "tekst-Z" style = "margin: 2% 0 10% 0;">Stuur ons een bericht </div>
  {% endblock %}   
<!--//SECTION------>
<!----SECTION------>
{% block section3 %} 
{% include "hulpcontact.html" %} 
{% endblock %}   
<!--//SECTION------>




