{% extends 'basis.html' %}
{% load static %}
{% load i18n %}
<!----HEAD---->
{% block styles %}
<style>
/*   huidige pagina */
.section3{display:none;}
.home-image1{background-image: url('../../static/img/dienst_1.jpeg');}
.home-image2{background-image: url('../../static/img/dienst_2.jpeg');}
.home-image3{background-image: url('../../static/img/dienst_3.jpeg');}
.home-image4{background-image: url('../../static/img/dienst_4.jpeg');}
.home-image5{background-image: url('../../static/img/dienst_5.jpeg');}
/* //huidige pagina */
</style>
{% endblock %}
<!---//HEAD---->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!----SECTION------>
{% block section0 %}  
    <div class = "tekst-Z" style = "margin: 2% 0 10% 0;">Onze diensten</div>
{% endblock %}   
<!--//SECTION------>
<!----SECTION------>
{% block section1 %} 
 <!---->
<div class = "container">
    <div class = "home home-image1"></div> 

    <div class = "home">
        <div class = "tekst-A"> Nieuwbouw</div>
        <div class = "tekst-B"> 
            Droom je van een nieuwe woning, bedrijfspand of veranda? 
            Wij realiseren complete nieuwbouwprojecten op maat. 
            Van fundering tot afwerking nemen wij alles uit handen en zorgen we voor een soepel bouwproces.  
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> </div> </a>
    </div>
</div>
<!---->
<div class = "container reverse">
    <div class = "home home-image2"></div> 

    <div class = "home">
        <div class = "tekst-A">Verbouwing & renovatie</div>
        <div class = "tekst-B"> 
            Wil je jouw woning moderniseren of anders indelen? 
            Wij helpen je met slimme oplossingen die passen bij jouw wensen én budget.
            Van kleine aanpassingen tot totaalrenovaties.   
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> </div> </a>
    </div>
</div>
<!---->
<div class = "container">
    <div class = "home home-image3"></div> 

    <div class = "home">
        <div class = "tekst-A">Aanbouw & uitbouw</div>
        <div class = "tekst-B"> 
            Goed onderhoud voorkomt problemen. 
            Wij voeren zowel periodiek onderhoud als reparaties vakkundig uit, 
            zodat uw woning of pand in topconditie blijft.  
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> </div> </a>
    </div>
</div>
<!---->
<div class = "container reverse">
    <div class = "home home-image4"></div> 

    <div class = "home">
        <div class = "tekst-A">Verduurzaming</div>
        <div class = "tekst-B"> 
            Je woning energiezuiniger maken? Wij adviseren en realiseren duurzame oplossingen die 
            zorgen voor meer comfort en lagere energiekosten.   
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> </div> </a>
    </div>
</div>
<!---->

{% endblock %}   
<!--//SECTION------>