{% extends 'basis.html' %}
{% load static %}
{% load i18n %}
<!----HEAD---->
{% block styles %}
<style>
/* huidige pagina */
.section4, .section{display:none;}
.home-image1{background-image: url('../../static/img/home1.jpg');}
.home-image2{background-image: url('../../static/img/home2.jpg');}
.home-image3{background-image: url('../../static/img/home3.jpg');background-position: center 100%; outline: 0px solid black; /* debug */}
/* huidige pagina */


.container_carousel{position:relative;}
.vlak {position:absolute;width: 60%;margin:0 0 0 20%; height:300px;transition: all 1s;}
.U1{align-items:center;text-align: center;background-color:green ;display:flex;left:0px; z-index:1;opacity:1;}
.U2{align-items:center;text-align: center;background-color: purple ;display:flex;left:0px;z-index:2;opacity:1;}
.U3{align-items:center;text-align: center;background-color:red;display:flex;left:0px;z-index:3;opacity:1;}


.verander{animation: beweeg 10s;opacity:1;}

@keyframes beweeg{
  0% {background-color:yellow;}
  50% {background-color:red;}
  100% {transform:translateX(1000px); }
}
.leesbaar{opacity:1;}
.verberg{opacity:0;transform: translateX(-1000px);transition:none;}
.reset{transform: translateX(-1000px);transition:none;}



.verander2{transition: left 0.8s ease-in,;left:1000px;}
.verander15{position:relative; left: 1000px;}
.verander3.show{
    opacity:1;transform:translateX(0);

}

.blok{
  width:100px;  
  height:100px;
  background:red;
  position:relative;

  /*animation: beweeg 3s infinite;*/
}





.verander3{opacity:1;transform: translateX(1000px);transition: all 0.4s ease;}
.verander4{opacity:0;transform: translateX(-1000px);transition: opacity 0.4s ease, transform 0.8s ease 0.4s;}
.verander5{opacity:1;transform: translateX(1000px);transition: all 1.0s ease;}

.rechtsafsaf {transform: translateX(1000px);transition: all 0.4s ease;}

.rechts{left:1000px;}
.links{left:-1000px;}
.opa_onzi{opacity:0;}
.opa_zi{opacity:1}
.midden{left:0px;}

















</style>
{% endblock %}
<!---//HEAD---->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
{% block titel %}  Welkom bij Zarek Bouw {% endblock %}

<!----SECTION------>
 {% block section1 %} 
 <!---->
<div class = "container">
    <div class = "home home-image1"></div> 

    <div class = "home">
        <div class = "tekst-A">Onze werkzaamheden</div>
        <div class = "tekst-B"> Bent u op zoek naar een ervaren aannemer die meedenkt, afspraken
            nakomt en kwaliteit levert? <br>
            Bij <strong> Zarek Bouw </strong> bent u aan het juiste adres. Wij verzorgen uiteenlopende bouwprojecten voor zowel particulieren 
            als bedrijven, van kleine verbouwingen tot complete renovaties.     
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> Projecten </div> </a>
    </div>
</div>
<!---->
<div class = "container reverse">
    <div class = "home home-image2"> </div>

    <div class = "home">
        <div class = "tekst-A">Vakmanschap & betrouwbaarheid</div>
        <div class = "tekst-B"> Met jarenlange ervaring in de bouw weten wij wat belangrijk is: 
            duidelijkheid, vakmanschap en een strakke planning. Wij werken met hoogwaardige materialen en een 
            klein hecht team, zodat u kunt rekenen op een duurzaam en netjes afgewerkt resultaat.    
        </div>
        <a href = "/diensten.html"> <div class ="btn_index1"> Diensten </div> </a>
    </div>
</div>
<!---->
<div class = "container">
    <div class = "home home-image3"> </div>

    <div class = "home">
        <div class = "tekst-A">Persoonlijk & transparant</div>
        <div class = "tekst-B"> Geen verrassingen achteraf. Wij communiceren helder, geven eerlijk advies en maken vooraf 
            duidelijke afspraken over kosten en planning. Zo weet u precies waar u aan toe bent.      
        </div>
        <a href = "/contact.html"> <div class ="btn_index1"> Offerte </div> </a>
    </div>
</div>
<!---->
{% endblock %}
<!--//SECTION------>

<!----SECTION------>
{% block section231231232132 %}   
<div class="carousel">
  <div class="track">
    <div class="item">“Zarek Bouw voert al jarenlang onderhoudswerkzaamheden uit voor 
            Stichting Behoud Waardevol Erfgoed, van funderingsherstel tot schilderwerk. 
            We zijn ontzettend blij met de resulaten en de samenwerking” <br> <br> - Sebastiaan Verspuij -  </div>
    <div class="item"> “Onze oude badkamer is geheel vernieuwd door Zarek Bouw. Daar zijn we super blij mee
                De eigenaar werkt fijn samen en denkt creatief mee” <br><br> <br> - Violette Kamper - </div>
    <div class="item">   “Ik ben heel tevreden met mijn nieuwe keuken. Communcitie & samenwerking was zeer goed. 
                Zarek Bouw denkt graag mee met de oplossingen 
                ” <br><br> <br> - France de Bieville -</div>

    <!-- duplicaat voor infinite loop -->
    <div class="item">      “Zarek Bouw voert al jarenlang onderhoudswerkzaamheden uit voor 
            Stichting Behoud Waardevol Erfgoed, van funderingsherstel tot schilderwerk. 
            We zijn ontzettend blij met de resulaten en de samenwerking” <br> <br> - Sebastiaan Verspuij -  </div>
    <div class="item">      “Onze oude badkamer is geheel vernieuwd door Zarek Bouw. Daar zijn we super blij mee
                De eigenaar werkt fijn samen en denkt creatief mee” <br><br> <br> - Violette Kamper - </div>
    <div class="item">   “Ik ben heel tevreden met mijn nieuwe keuken. Communcitie & samenwerking was zeer goed. 
                Zarek Bouw denkt graag mee met de oplossingen 
                ” <br><br> <br> - France de Bieville -</div>
  </div>
</div>
{% endblock %}   
<!--//SECTION------>



<!----SECTION------>
{% block section3 %} 
{% include "hulpcontact.html" %} 
{% endblock %}   
<!--//SECTION------>


<!----SECTION------>
{% block section2dfgdsg %} 
<div class = "container_carousel"> 
    <div class="vlak U1" id="U1">“Zarek Bouw voert al jarenlang onderhoudswerkzaamheden uit voor 
        Stichting Behoud Waardevol Erfgoed, van funderingsherstel tot schilderwerk. 
        We zijn ontzettend blij met de resulaten en de samenwerking” <br> <br> - Sebastiaan Verspuij -  
    </div>

    <div class="vlak U2" id = "U2">“Onze oude badkamer is geheel vernieuwd door Zarek Bouw. Daar zijn we super blij mee
                De eigenaar werkt fijn samen en denkt creatief mee” <br><br> <br> - Violette Kamper - </div> 
    <div class="vlak U3" id = "U3">“Ik ben heel tevreden met mijn nieuwe keuken. Communcitie & samenwerking was zeer goed. 
                Zarek Bouw denkt graag mee met de oplossingen 
                ” <br><br> <br> - France de Bieville -</div>
</div>

<div class="blokewr wra"></div>
{% endblock %}   
<!--//SECTION------>

<!-------JAVASCRIPT---->
{% block javascript %}




<script>
function sleep(ms){
    return new Promise(resolve => setTimeout(resolve, ms));}


async function Carousel(){
    document.querySelector("#U1").classList.add("leesbaar");
    document.querySelector("#U1").classList.add("verander");   
    await sleep (10000);
    document.querySelector("#U1").classList.add("verberg"); 
    document.querySelector("#U2").classList.add("leesbaar");
    await sleep (1000);
    document.querySelector("#U2").classList.add("verander");
    await sleep (10000);
    document.querySelector("#U2").classList.add("verberg"); 
    document.querySelector("#U3").classList.add("leesbaar"); 
    await sleep (1000);
    document.querySelector("#U3").classList.add("verander");
    await sleep (10000);
    document.querySelector("#U3").classList.add("verberg"); 
    document.querySelector("#U1").classList.remove("verander");
    document.querySelector("#U2").classList.remove("verander verberg leesbaar");
    document.querySelector("#U3").classList.remove("verander verberg leesbaar");
} 
setInterval(Carousel, 1000 ); // elke 10 sec
console.log("wordt het herhaald?")



</script>





{% endblock %}   
<!--//-----JAVASCRIPT---->