{% extends 'basis.html' %}
{% load static %}

<!-----HEAD---->
{% block styles %}<style>




</style>{% endblock %}
<!---//HEAD---->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!----HEADER------>
{% block header %}
<div class = "row">
    <div class="col-12">
       <div class = "titelA">  Portfolio</div>
       <div sclass = "titelB">  Sinds 10 jaar ben ik voor mezelf begonnen. Het begon met daken repareren. Daarna badkamers. Op deze pagina laat ik wat werkzaamheden zien. Van hoe het was tot 
        wat het is geworden.  </div>
    </div>
</div>
{% endblock header %}
<!--//HEADER------>
<!--------BANNER----->
{% block banner %}
<div> <img src="{% static 'img/logo.png' %}" alt="Bedrijfslogo"></div> 
{% endblock %}
<!-----//---BANNER--->
<!---------------------------------------------------------------------------------------------------------------------------------->

<!----------SECTION----->
{% block section1 %}

<div class = "row" >
    {% for foli in folis %}
    <div class ="vorm-titel"> {{ foli.naam }}</div>
    <div class = "col-6" style="padding: 0% 0% 0% 0%;">
        <div class = "afbeelding">
            <div class = "vorm-rand">
                <div class="vorm">
                    <a href="{% url 'DetailFoli_url' foli.pk %}"> <img src="{{ foli.afbeeld1.url }}" alt="in construction"> </a>
                </div>
            </div>
        </div>
    </div>

    <div class = "col-6 ">
        <div class = "afbeelding">
            <div class = "vorm-rand">
                <div class="vorm">
                    <a href="{% url 'DetailFoli_url' foli.pk %}" TARGET = "_blank"> <img src="{{ foli.afbeeld2.url }}" alt="in construction"> </a>
                </div>
            </div>
        </div>
    </div>  
    <div class ="vorm-titel"> ----------------</div>

{% endfor %}
</div>

{% endblock %}
<!-----//---SECTION--->


