{% extends 'basis.html' %}
{% load static %}
<!--------HEADER----->
{% block styles %}

<style>
.TxtLeft{text-align:left;}
.section1,.section2, .section4{display:none;}
</style>
{% endblock %}
<!--------HEADER----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------SECTION---->
{% block section3 %}

 <div class = "home">
    <div class = "tekst-A">Privacy statement</div>
    <div class = "tekst-B"> 
        Zarek bouw, gevestigd aan Fritz Langstrook 21 2726 VW Zoetermeer, is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring. 
        <br><br> 
        Contactgegevens: https://www.zarekbouw.nl <br> 
        Fritz Langstrook 21 <br> 
        2726 VW Zoetermeer <br> 
        +31 (0) 28 89 49 09 <br> 
    </div>
</div>

 <div class = "home">
     <div class = "tekst-B"> 
        <strong>Persoonsgegevens die wij verwerken zijn:</strong><br>
        Zarek Bouw verwerkt uw persoonsgegevens doordat u gebruik maakt van onze diensten en/of 
        omdat u deze zelf aan ons verstrekt. Hieronder vindt u een overzicht van de persoonsgegevens die wij verwerken:
        <ul>
            <li> Voor- en achternaam</li>
            <li> Geboortedatum </li>
            <li> Adresgegevens </li>
            <li> Telefoonnummer</li>
            <li> E-mailadres </li>
            <li> IP-adres </li>
        </ul>
    </div>
</div>

<!---->
<div class = "home">
     <div class = "tekst-B"> 
       <strong> Bijzondere en/of gevoelige persoonsgegevens die wij verwerken. </strong><br>
        Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers 
        die jonger zijn dan 16 jaar. Tenzij ze toestemming hebben van ouders of voogd. 
        We kunnen echter niet controleren of een bezoeker ouder dan 16 is. 
        Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, 
        om zo te voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. 
        Als u er van overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, 
        neem dan contact met ons op via www.zarekbouw.com, dan verwijderen wij deze informatie.
    </div>
</div>
<!---->
<div class = "home">
     <div class = "tekst-B"> 
        <strong> Zarek Bouw verwerkt jouw persoonsgegevens voor de volgende doelen:</strong><br>
        <ul>
            <li>U te kunnen bellen of e-mailen indien dit nodig is om onze dienstverlening uit te kunnen voeren</li>
        </ul>
    </div>
</div>
<!---->
<div class = "home">
     <div class = "tekst-B"> 
        <strong>    Geautomatiseerde besluitvorming</strong><br>
        Zarek Bouw neemt niet op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke) gevolgen kunnen hebben voor personen. 
    </div>
</div>
<!---->
<div class = "home">
     <div class = "tekst-B"> 
        <strong>    Hoe lang we persoonsgegevens bewaren</strong><br>
        Zarek Bouw bewaart uw persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren waarvoor uw 
        gegevens worden verzameld. Wij hanteren de volgende bewaartermijnen voor de volgende (categorieën) van persoonsgegevens: 48 maanden.
    </div>
</div>
<!---->
<div class = "home">
     <div class = "tekst-B"> 
         <strong>    Delen van persoonsgegevens met derden</strong><br>
        Zarek Bouw verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met u of om te voldoen 
        aan een wettelijke verplichting.
    </div>
</div>
<!---->
<div class = "home">
     <div class = "tekst-B"> 
       <strong>    Cookies, of vergelijkbare technieken, die wij gebruiken</strong><br>
        Zarek Bouw gebruikt geen cookies of vergelijkbare technieken.
    </div>
</div>
<!---->
<div class = "home">
     <div class = "tekst-B"> 
       <strong>     Gegevens inzien, aanpassen of verwijderen</strong><br>
        U heeft het recht om uw persoonsgegevens in te zien, te corrigeren of te verwijderen. 
        Daarnaast heeft u het recht om uw eventuele toestemming voor de gegevensverwerking in te trekken of bezwaa
        r te maken tegen de verwerking van uw persoonsgegevens door Zarek Bouw en heeft u het recht op gegevensoverdraagbaarheid. 
        Dat betekent dat u bij ons een verzoek kunt indienen om de persoonsgegevens die wij van u beschikken in een computerbestand 
        naar u of een ander, door u genoemde organisatie, te sturen. U kunt een verzoek tot inzage, correctie, verwijdering, 
        gegevensoverdraging van uw persoonsgegevens of verzoek tot intrekking van uw toestemming of bezwaar op de verwerking van uw 
        persoonsgegevens sturen naar zarekbouw.com. Om er zeker van te zijn dat het verzoek tot inzage door u is gedaan, 
        vragen wij u een kopie van uw identiteitsbewijs met het verzoek mee te sturen. Maak in deze kopie uw pasfoto, MRZ (machine 
        readable zone, de strook met nummers onderaan het paspoort), paspoortnummer en Burgerservicenummer (BSN) zwart. Dit ter 
        bescherming van uw privacy. We reageren zo snel mogelijk, maar binnen vier weken, op uw verzoek. Zarek Bouw wil u er tevens op 
        wijzen dat u de mogelijkheid heeft om een klacht in te dienen bij de nationale toezichthouder, de Autoriteit Persoonsgegevens. 
        Dat kan via de volgende link: https://autoriteitpersoonsgegevens.nl/nl/contact-met-de-autoriteit-persoonsgegevens/tip-ons
    </div>
</div>
<!---->
<div class = "home">
     <div class = "tekst-B"> 
        <strong>Hoe wij persoonsgegevens beveiligen.</strong><br>
        Zarek Bouw neemt de bescherming van uw gegevens serieus en neemt passende maatregelen om misbruik, verlies, 
        onbevoegde toegang, ongewenste openbaarmaking en ongeoorloofde wijziging tegen te gaan. Als u de indruk heeft 
        dat uw gegevens niet goed beveiligd zijn of er aanwijzingen zijn van misbruik, 
        neem dan contact op via zarekbouw.com
    </div>
</div>
<!---->
{% endblock %}
<!-----//---SECTION----->
