{% extends 'basis.html' %}
{% load static %}
{% load i18n %}
<!----HEAD---->
{% block styles %}
<style>
/* huidige pagina */
.home-image1{background-image: url('../../static/img/home1.jpg');}
.home-image2{background-image: url('../../static/img/home2.jpg');}
.home-image3{background-image: url('../../static/img/home3.jpg');background-position: center 100%; outline: 3px solid black; /* debug */}
/* huidige pagina */

.section3{background-color:inherit;display:none;}

</style>
{% endblock %}
<!---//HEAD---->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->


<!----SECTION------>
 {% block section1 %} 
<!---->
<div class = "container full-height">
    <div class = "home home-image1"></div> 

    <div class = "home">
        <div class = "tekst-A">Welkom bij Zarek Bouw</div>
        <div class = "tekst-B"> Bent u op zoek naar een ervaren aannemer die meedenkt, afspraken
            nakomt en kwaliteit levert? <br>
            Bij <strong> Zarek Bouw </strong> bent u aan het juiste adres. Wij verzorgen uiteenlopende bouwprojecten voor zowel particulieren 
            als bedrijven, van kleine verbouwingen tot complete renovaties.     
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> Projecten </div> </a>
    </div>
</div>
<!---->
<div class = "container reverse">
    <div class = "home home-image2"> </div>

    <div class = "home">
        <div class = "tekst-A">Vakmanschap & betrouwbaarheid</div>
        <div class = "tekst-B"> Met jarenlange ervaring in de bouw weten wij wat belangrijk is: 
            duidelijkheid, vakmanschap en een strakke planning. Wij werken met hoogwaardige materialen en een 
            vast team van professionals, zodat u kunt rekenen op een duurzaam en netjes afgewerkt resultaat.    
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> Diensten </div> </a>
    </div>
</div>
<!---->
<div class = "container">
    <div class = "home home-image3"> </div>

    <div class = "home">
        <div class = "tekst-A">Persoonlijk & transparant</div>
        <div class = "tekst-B"> Geen verrassingen achteraf. Wij communiceren helder, geven eerlijk advies en maken vooraf 
            duidelijke afspraken over kosten en planning. Zo weet u precies waar u aan toe bent. </div>
        <a href = "/contact.html"> <div class ="btn_index1"> Offerte </div> </a>
    </div>
</div>
<!---->
 {% endblock %}   
<!--//SECTION------>

<!----SECTION------>
{% block section2 %}   
<div class="carousel">
  <div class="track">
    <div class="item">“Zarek Bouw voert al jarenlang onderhoudswerkzaamheden uit voor 
            Stichting Behoud Waardevol Erfgoed, van funderingsherstel tot schilderwerk. 
            We zijn ontzettend blij met de resulaten en de samenwerking” <br> <br> - Sebastiaan Verspuij -  </div>
    <div class="item"> “Onze oude badkamer is geheel vernieuwd door Zarek Bouw. Daar zijn we super blij mee
                De eigenaar werkt fijn samen en denkt creatief mee” <br><br> <br> - Violette Kamper - </div>
    <div class="item">   “Ik ben heel tevreden met mijn nieuwe keuken. Communcitie & samenwerking was zeer goed. 
                Zarek Bouw denkt graag mee met de oplossingen 
                ” <br><br> <br> - France de Bieville -</div>

    <!-- duplicaat voor infinite loop -->
    <div class="item">      “Zarek Bouw voert al jarenlang onderhoudswerkzaamheden uit voor 
            Stichting Behoud Waardevol Erfgoed, van funderingsherstel tot schilderwerk. 
            We zijn ontzettend blij met de resulaten en de samenwerking” <br> <br> - Sebastiaan Verspuij -  </div>
    <div class="item">      “Onze oude badkamer is geheel vernieuwd door Zarek Bouw. Daar zijn we super blij mee
                De eigenaar werkt fijn samen en denkt creatief mee” <br><br> <br> - Violette Kamper - </div>
    <div class="item">   “Ik ben heel tevreden met mijn nieuwe keuken. Communcitie & samenwerking was zeer goed. 
                Zarek Bouw denkt graag mee met de oplossingen 
                ” <br><br> <br> - France de Bieville -</div>
  </div>
</div>
{% endblock %}   
<!--//SECTION------>