{% extends 'basis.html' %}
{% load static %}
{% load i18n %}
<!----HEAD---->
{% block styles %}
<style>
/* huidige pagina */
.home-image1{background-image: url('../../static/img/home1.jpg');}
.home-image2{background-image: url('../../static/img/home2.jpg');}
.home-image3{background-image: url('../../static/img/home3.jpg');background-position: center 100%; outline: 3px solid black; /* debug */}
/* huidige pagina */

.section3{background-color:inherit;display:none;}



/* kloten met javascript */

.container{
  position:relative;
  width:60%; margin: 0 0 0 20%;
  height:120px;
  overflow:hidden;
  border:2px solid black;
}

.blok{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:28px;
  color:white;

  transform: translateX(100%);
  transition: transform 1s ease;
}

.b1{background:red;}
.b2{background:blue;}
.b3{background:green;}

.midden{
  transform: translateX(0);
}

.links{
  transform: translateX(-100%);
}

.hidden{
  opacity:0;
}
/**/ 
.move{
  transform: translateX(-420px);
}


.spin{background-color:inherit; animation: beweeg 10s;}
@keyframes spin{
  0% { }
  50% {scale:2;}
  100% {transform:translateX(1000px); border-color:green; }
}

</style>
{% endblock %}
<!---//HEAD---->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->


<!----SECTION------>
 {% block sectionsdfs %} 
<!---->
<div class = "container full-height">
    <div class = "home home-image1"></div> 

    <div class = "home">
        <div class = "tekst-A">Welkom bij Zarek Bouw</div>
        <div class = "tekst-B"> Bent u op zoek naar een ervaren aannemer die meedenkt, afspraken
            nakomt en kwaliteit levert? <br>
            Bij <strong> Zarek Bouw </strong> bent u aan het juiste adres. Wij verzorgen uiteenlopende bouwprojecten voor zowel particulieren 
            als bedrijven, van kleine verbouwingen tot complete renovaties.     
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> Projecten </div> </a>
    </div>
</div>
<!---->
<div class = "container reverse">
    <div class = "home home-image2"> </div>

    <div class = "home">
        <div class = "tekst-A">Vakmanschap & betrouwbaarheid</div>
        <div class = "tekst-B"> Met jarenlange ervaring in de bouw weten wij wat belangrijk is: 
            duidelijkheid, vakmanschap en een strakke planning. Wij werken met hoogwaardige materialen en een 
            vast team van professionals, zodat u kunt rekenen op een duurzaam en netjes afgewerkt resultaat.    
        </div>
        <a href = "/portfolio.html"> <div class ="btn_index1"> Diensten </div> </a>
    </div>
</div>
<!---->
<div class = "container">
    <div class = "home home-image3"> </div>

    <div class = "home">
        <div class = "tekst-A">Persoonlijk & transparant</div>
        <div class = "tekst-B"> Geen verrassingen achteraf. Wij communiceren helder, geven eerlijk advies en maken vooraf 
            duidelijke afspraken over kosten en planning. Zo weet u precies waar u aan toe bent. </div>
        <a href = "/contact.html"> <div class ="btn_index1"> Offerte </div> </a>
    </div>
</div>
<!---->
 {% endblock %}   
<!--//SECTION------>

<!----SECTION------>
{% block section2 %}   
<div class="carousel">
  <div class="track">
    <div class="item">“Zarek Bouw voert al jarenlang onderhoudswerkzaamheden uit voor 
            Stichting Behoud Waardevol Erfgoed, van funderingsherstel tot schilderwerk. 
            We zijn ontzettend blij met de resulaten en de samenwerking” <br> <br> - Sebastiaan Verspuij -  </div>
    <div class="item"> “Onze oude badkamer is geheel vernieuwd door Zarek Bouw. Daar zijn we super blij mee
                De eigenaar werkt fijn samen en denkt creatief mee” <br><br> <br> - Violette Kamper - </div>
    <div class="item">   “Ik ben heel tevreden met mijn nieuwe keuken. Communcitie & samenwerking was zeer goed. 
                Zarek Bouw denkt graag mee met de oplossingen 
                ” <br><br> <br> - France de Bieville -</div>

    <!-- duplicaat voor infinite loop -->
    <div class="item">      “Zarek Bouw voert al jarenlang onderhoudswerkzaamheden uit voor 
            Stichting Behoud Waardevol Erfgoed, van funderingsherstel tot schilderwerk. 
            We zijn ontzettend blij met de resulaten en de samenwerking” <br> <br> - Sebastiaan Verspuij -  </div>
    <div class="item">      “Onze oude badkamer is geheel vernieuwd door Zarek Bouw. Daar zijn we super blij mee
                De eigenaar werkt fijn samen en denkt creatief mee” <br><br> <br> - Violette Kamper - </div>
    <div class="item">   “Ik ben heel tevreden met mijn nieuwe keuken. Communcitie & samenwerking was zeer goed. 
                Zarek Bouw denkt graag mee met de oplossingen 
                ” <br><br> <br> - France de Bieville -</div>
  </div>
</div>
{% endblock %}   
<!--//SECTION------>

<!----SECTION------>
{% block section1 %} 
<div class="container">
  <div class="blok b1">1</div>
  <div class="blok b2">2</div>
  <div class="blok b3">3</div>
</div>
{% endblock %}   
<!--//SECTION------>



<!-------JAVASCRIPT---->
{% block javascript %}
<script>

const blokken = document.querySelectorAll(".blok");

let i = 0;

function startSlider(){

  const blok = blokken[i];

  // naar midden
  blok.classList.add("midden");

  setTimeout(()=>{

    // naar links
    blok.classList.add("links");


      setTimeout(()=>{

        // reset positie
        blok.classList.remove("midden","links");


      i++;
      if(i >= blokken.length){
        i = 0;
      }

      startSlider();

    },1000);

  },3000);

}

startSlider();

</script>


{% endblock %}   
<!--//SECTION------>