@media only screen and (min-device-width: 899px){
/* ---ALLE TEMPLATES-----------laptop-----------*/
.row{display:inline-block;width:100%;background-color: inherit;}
.row1{display:flex;width:100%;background-color: inherit;}
.row2{display:flex; width: 60%;margin: 0 0 0 20%; padding: 5% 0 0 0;}
[class*="col-"]
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:24.99%;}
.col-4{width:33.33%;float:left;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.3%;}
.col-12{width:100%;}
.col-25{width:25%;}
.col-30{width:30%;}
.col-40{width:40%;}
.col-75{width:75%;}
iframe{width: 100%;height:400px;}  

.full-height{min-height:200vh;}

[class*='h-']{display:flex;}
.h-100{height:100%;}
.h-75{height:75%;}
.h-50{height:50%;}
.h-25{height:25%;background-color:inherit;}

[class*=tekst-]{font-family: 'Inter';font-style: normal;font-weight: 500;color: #0C3440 ;align-items: center;z-index:100;}
.tekst-Z {padding:1% 5% 1% 5%;font-weight: 600;font-size: 2rem;line-height: 100%;text-align:center;color:white;}

.tekst-A {padding:1% 5% 1% 5%;font-weight: 600;font-size: 2rem;line-height: 100%;text-align:justify;}
.tekst-A1{padding:1% 5% 1% 5%;font-weight: 600;font-size: 1.5rem;line-height: 100%;text-align:justify;}
.tekst-B {padding:1% 5% 5% 5%;font-weight: 500;font-size: 1rem;line-height: 28px;text-align:justify;} 
.tekst-C {padding:1% 5% 5% 5%;font-weight: 500;font-size: 1rem;line-height: 28px;text-align:center;color:white;} 
.tekst-D {padding:1% 5% 5% 5%;font-weight: 600;font-size: 25px;line-height: 38px;text-align: center;} 


/* ---BASIS-----------laptop--------------------*/
.menuMobiel, .menuHamburger {display:none;} /* dropdown menu mobiele versie  & sandwich logo*/
.sectionblockmenu{background-color:inherit;margin:0 0 0 0%;} /*block voor menu laptop */
.headerblock{min-height:50px;padding: 1% 1% 2% 0%;opacity: 0.1;}
.titelA{font-size:80px; color: rgba(85, 12, 12, 0.974);}
.titelB{font-size:60px; color: rgba(85, 12, 12, 0.974);}
/* -//BASIS-----------laptop--------------------*/

/* ---INDEX-----------laptop--------------------*/
.btn{background-color:  rgba(129, 112, 112, 0.974); width:100%;height:50px;border-radius:10px;}
/* -//INDEX-----------laptop--------------------*/
/* ---CONTACT (INDEX section3)---------laptop--------------------*/
.container_contact{width:60%; height: 80%; margin: 0% 0 0 20%;background-color:inherit; padding: 10% 0 0 0;}
.formulier{width:80%; margin: 0 0 0 10%;padding: 3% 0 3% 0; background-color:inherit;}
/* via forms.py */
.form_eigenA, .form_eigenB {padding: 1% 0 1% 0; width: 100%;margin: 2% 0 2% 0%;background-color:white; border-radius: 10px;text-align: center;}
.form_eigenA {height:50px;}
.form_eigenB {height:100px;}
/* via forms.py */
/* -//CONTACT---------laptop--------------------*/

 html, body{height:100%;width:100%;margin:0 0 0 0%;}
/*  section1*/
.section1{background-color: #F8F5F0; border-radius:40px;min-height:800px;margin:2% 2% 2% 0%;width:100%;padding:0% 0 0 0;}
.container{background-color:inherit;border-radius:40px;}

.home{display:flex;flex-direction:column;background-color:inherit;overflow:hidden;border-radius:40px;}
.home-image1, .home-image2, .home-image3,  .home-image4,  .home-image5{background-size:cover;background-repeat:no-repeat; flex: 0 0 50vh;}
.home img{min-height:100%;object-fit:cover;object-position: right center;}
/*  //section*/
/*  section3*/
.section3{background-color:  #F8F5F0; border-radius:40px;margin:2% 0% 0% 10%;width:80%;padding:0% 0 0 0%;min-height:300px}
/*  //section3*/
/* ---KLEUR & LETTERTYPE----------mobiel--------------------*/

}

