@media only screen and (min-device-width: 899px){
/* ---ALLE TEMPLATES-----------laptop-----------*/
.row{display:inline-block;width:100%;background-color: inherit;}
[class*="col-"]{float:left}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-4{width:33.33%;}
.col-6{width:50%;}
.col-9{width:66.64%;}
.col-10{width:83.3%;}
.col-12{width:100%;}
.col-25{width:25%;}
.col-30{width:30%;}
.col-40{width:40%;}
.col-75{width:75%;}
iframe{width: 100%;height:400px;}   

/* ---BASIS-----------laptop--------------------*/
.menuMobiel, .menuHamburger {display:none;} /* dropdown menu mobiele versie  & sandwich logo*/
.sectionblockmenu{background-color:inherit;}
.menuLaptop{display:flex;overflow:auto;flex-direction: row; width:60%;margin: 0 0 0 35%;background-color:inherit;}
.menuLaptop li{list-style-type: none;width:90%;padding:2% 0% 1% 0%;background-color:inherit;} /*laptop menu - teksten */
.menuLaptop a{text-decoration: none;}

.bannerblock{z-index:1;position:absolute;top:1%;clip-path: inset(4% 2% round 20px);width: 10%;} /* locatie voor bedrijfslogo zelfde hoogte als menu */

.titelA{font-size:80px; color: rgba(85, 12, 12, 0.974);}
.titelB{font-size:60px; color: rgba(85, 12, 12, 0.974);}
/* -//BASIS-----------laptop--------------------*/

/* ---INDEX-----------laptop--------------------*/
.btn{background-color:  rgba(129, 112, 112, 0.974); width:100%;height:50px;border-radius:10px;}
/* -//INDEX-----------laptop--------------------*/
/* ---CONTACT---------laptop--------------------*/
.formulier{width:60%; margin: 0 0 0 20%;padding: 3% 0 3% 0; background-color:inherit;}
/* via forms.py */
.form_eigenA, .form_eigenB {padding: 1% 0 1% 0; width: 100%;margin: 1% 0 0.5% 0%;background-color:white; border-radius: 10px;text-align: center;}
.form_eigenA {height:20%;}
.form_eigenB {height:100px;}
/* via forms.py */
.button_formulier {height:20%; padding: 1% 0 1% 0; width: 10%; margin: 5% 0 0.5% 90%;background-color:white; border-radius: 10px;
text-align: center;}
/* -//CONTACT---------laptop--------------------*/



/* ---KLEUR & LETTERTYPE----------mobiel--------------------*/

}