@media only screen and (min-device-width: 899px){
/* --BASIS NAVIBAR */
.achtergrond-navbar{display:flex;flex-direction:column;gap:24px; padding:23px 107px;width:100%;
    background-size:cover;background-position: 25% 100%;align-items:center;position:relative;}
.achtergrond-navbar .frame-nav-bar{display:flex;flex-direction:column;max-width:1440px;align-items: center;justify-items: center;
    gap:10px;padding:11px 30px; position:relative;width:100%; flex: 0 0 auto; background-color:#598987;border-radius: 50px;
    overflow:hidden;  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);}
.achtergrond-navbar .nav-bar{display:flex;align-items: center;justify-content: space-between;position:relative;
    align-self: stretch;width:100%;flex: 0 0 auto;}
.achtergrond-navbar .group{position: relative; width: 145px; height:47px; box-shadow: 0px 4px 4px #00000040;
    background-image: url('../../static/img/logo.png');background-size:cover;background-position: 50% 50%;border-radius:50px;}
.achtergrond-navbar .frame{align-items: center;gap:40px;display:inline-flex;position:relative;flex: 0 0 auto;}
.achtergrond-navbar .div{align-items: flex-end;gap:24px;display:inline-flex;position:relative;flex: 0 0 auto;}
.achtergrond-navbar .text-wrapper{position:relative; width:fit-content;margin: top -1px;font-family: "Inter", Helvetica; 
    font-weight: 500;color:#F8F5F0; font-size:20px; letter-spacing: 0;line-height:normal;white-space:nowrap;}
.achtergrond-navbar .btn{all:unset;box-sizing:border-box;display: inline-flex;justify-content: center;gap:10px;padding:5px 16px;flex: 0 0 auto;
    border-radius: 20px;overflow:hidden;box-shadow:0px 4px 4px #00000040;
    background: linear-gradient(91.21deg, #850305 20.69%, #990507 56.38%);align-items: center;position:relative;}
.achtergrond-navbar .text-wrapper-2{position:relative; width:fit-content;margin: top -1px;font-family: "Inter", Helvetica;
    font-weight: 400;color:#F8F5F0; font-size:20px; text-align: center; letter-spacing: 0; line-height:normal;white-space:nowrap;}
.achtergrond-navbar .text-wrapper-3{position:relative;display:flex; align-items:center; justify-content:center; width:100%;font-family: "Inter", Helvetica;
    font-weight: 900;color:#0C3440; font-size:60px; text-align: center; letter-spacing: 0; line-height:normal;}
/* //BASIS NAVIBAR */
/* --BASIS MENU */
.menu_laptop{display:flex;}
.menu_mobiel{display:none;}
/* //BASIS MENU */
/* --BASIS & TEMPLATES */
.section1{background-color: #F8F5F0; border-radius:40px;margin:2% 2% 2% 0%;width:100%;padding:0% 0 0 0;min-height:100px;}
.section2{background-color: inherit; width:100%;padding:0% 0 0 0;min-height:100px;}
.section3{background-color: #F8F5F0; border-radius:40px;margin:2% 0% 0% 10%;width:80%;padding:0% 0 0 0%;min-height:300px}
.section4{background-color: #F8F5F0; border-radius:40px 0 40px 0;;margin:2% 2% 2% 5%;width:90%;padding:0% 0 0 0;min-height:100px;}

[class*=tekst-]{font-family: 'Inter';font-style: normal;font-weight: 500;color: #0C3440 ;align-items: center;z-index:100;}
.tekst-A {padding:1% 5% 1% 5%;font-weight: 600;font-size: 2rem;line-height: 100%;text-align:center;} /* text-align: justify = uitgelijnd */
.tekst-A1{padding:1% 5% 1% 5%;font-weight: 600;font-size: 1.5rem;line-height: 100%;text-align:justify;}
.tekst-B {padding:1% 5% 5% 5%;font-weight: 500;font-size: 1rem;line-height: 28px;text-align:justify;} 
.tekst-C {padding:1% 5% 5% 5%;font-weight: 500;font-size: 1rem;line-height: 28px;text-align:center;color:white;} 
.tekst-D {padding:1% 5% 5% 5%;font-weight: 600;font-size: 25px;line-height: 38px;text-align: center;} 
.tekst-Z {padding:1% 5% 1% 5%;font-weight: 600;font-size: 2rem;line-height: 100%;text-align:center;color:white;}

[class*="col-"]
.col-1{width:8.33%;} .col-2{width:16.66%;}.col-3{width:24.99%;}.col-4{width:33.33%;float:left;}.col-5{width:41.66%};.col-6{width:50%;}
.col-8{width:66.66%;}.col-9{width:75%};.col-10{width:83.3%;}.col-12{width:100%;}
.col-25{width:25%;}.col-30{width:30%;}.col-40{width:40%;}.col-75{width:75%;}

.btn_index1, .btn_contact1{ display: flex; flex-direction: row;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #990507;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;width: 116px;height: 32px;margin: 1% 1% 1% 5%;text-align: center;justify-content: center;align-items: center;padding: 5px 16px;
    gap: 10px;  font-weight: 600;font-size: 18px;line-height: 22px;color: #FFFFFF;}
.btn_contact1{margin-left:100%;}
/* //BASIS & TEMPLATES */
/* --INDEX  */
.container{width:60%;margin: 0% 0 0 20%;padding: 2% 0 3% 0;display:flex; flex-wrap: wrap; flex-direction: row; gap: 20px;justify-content: space-between;}
.home{flex: 1;border-radius:40px;}
.home-image1, .home-image2, .home-image3,  .home-image4,  .home-image5{background-size:cover;background-repeat:no-repeat; flex: 0 0 50vh;}
.home img{min-height:100%;object-fit:cover;object-position: right center;}
.reverse{flex-direction:row-reverse;}

.carousel {width: 100%; margin: 0 0 0 0%;height: 300px;overflow: hidden;border: 1px solid inherit;background-color:inherit;}
.track {display: flex;width: max-content;}
.item {display: flex;width: 300px;height: 300px; background: inherit; padding:1% 5% 5% 5%;
    flex-shrink: 0;align-items: center;justify-content: center;
    font-family: 'Inter';font-style: normal;font-weight: 500; font-size: 1rem;
    line-height: 28px;color: #F8F5F0; ;z-index:100;}
/* //INDEX  */
/* ---PORTFOLIO-----------------------------*/
.container_portfolio{display: flex; gap:0;line-height: 1;width:60%; margin: 0 0 0 20%;padding:2% 0 2% 0;}
.dienst{display:flex;flex-direction:column;background-color:inherit;overflow:hidden;height:100%; max-height:250px;gap:0}
.port1{background-color:inherit;width:98%; margin:0% 2% 0 0; height:70vh;border-radius:40px 0 0 0;}
.port2{background-color:inherit;width:98%; margin:0% 0% 0% 2%; height:70vh;border-radius:0px 0 40px 0px;}
.dienst img{width:100%;height:100%;object-fit:cover;object-position: right center;}
/* -//PORTFOLIO-----------------------------*/
/* --(HULP)CONTACT  */
.container_contact{width:70%; height: 80%; margin: 0% 0 0 15%;background-color:inherit; padding: 1% 0 0 0;}
.formulier{width:80%; margin: 0 0 0 10%;padding: 3% 0 3% 0; background-color:inherit;}
/* via forms.py */
.form_eigenA1{height:50px; margin: 2% 0% 0 0%; background-color:white;
    padding: 1% 0 1% 0; width: 100%; border-radius: 10px;text-align: center;}
.form_eigenA2{height:50px; margin: 2% 0 2% 0%; background-color:white;
    padding: 1% 0 1% 0; width: 100%; border-radius: 10px;text-align: center;}
.form_eigenB {height:100px; margin: 2% 0 2% 0%; background-color:white;
    padding: 1% 0 1% 0; width: 100%; border-radius: 10px;text-align: center;}
/* via forms.py */
/* //(HULP)CONTACT  */















/* EINDE SHEET */ } 