@media only screen and (min-device-width: 150px){
/* ---ALLE TEMPLATES-----------mobiel-----------*/
.row{display:inline-block;width:100%;background-color: inherit;}
[class*="col-"]{display: inline-block;text-align: center;}
.col-2,.col-3,.col-4,.col-5,.col-6,.col-10,.col-12,.col-25,.col-30,.col-40{width:100%;}  



/* ---BASIS-----------mobiel--------------------*/
.sectionblock0{background-color:inherit;}
.menuHamburger {background-color:inherit;}
.menuHamburger img{width:10%;margin:1% 0 0 80%;} /*sandwich menu logo */
.menuMobiel{display: none;
    width:60%; min-height:200px; margin: 0% 0 0 20%;padding:5% 5% 5% 5%; 
    clip-path: inset(0% 0% round 20px);
    z-index:10;} /* dropdown menu mobiele versie */
.menuMobiel a {text-decoration: none;}
.menuMobiel li {list-style-type: none;}
.menuLaptop{display:none;}/*menu voor laptop */
.bannerblock{width: 30%; z-index:1;position:absolute;top:1%;clip-path: inset(4% 2% round 10px);} /* locatie voor bedrijfslogo zelfde hoogte als menu */ 
.bannerblock img{width:100%;}
.headerblock{min-height:50px;padding: 3% 1% 2% 1%;background-color:yellow;}
.sectionblock1, .sectionblock2, .sectionblock3{background-color: inherit;padding:1% 2% 1% 2%;}

.titelA{font-size:40px; color: rgba(85, 12, 12, 0.974);}
.titelB{font-size:20px; color: rgba(85, 12, 12, 0.974);}
/* -//BASIS-----------mobiel--------------------*/

/* ---INDEX-----------mobiel--------------------*/
.btn{background-color:  rgba(129, 112, 112, 0.974); width:80%;height:30px;border-radius:10px;margin:2% 0 2% 0;}
/* -//INDEX-----------mobiel--------------------*/

/* ---CONTACT-----------mobiel--------------------*/
.formulier{width:60%; margin: 0 0 0 20%;padding: 3% 0 3% 0; background-color:inherit;}
/* via forms.py */
.form_eigenA, .form_eigenB {padding: 1% 0 1% 0; width: 100%;margin: 1% 0 0.5% 0%;background-color:white; border-radius: 10px;text-align: center;}
.form_eigenA {height:20%;}
.form_eigenB {height:100px;}
/* via forms.py */
.button_formulier {height:20%; padding: 1% 0 1% 0; width: 50%; margin: 5% 0 0.5% 50%;background-color:white; border-radius: 10px;
text-align: center;}
/* -//CONTACT-----------mobiel--------------------*/






/* ---KLEUR & LETTERTYPE----------mobiel--------------------*/
body{color:#000000;background-color:#d7d7d7; }
.menuMobiel {background-color: rgba(85, 12, 12, 0.974);} /*vorm: dropdown menu mobiele versie */
.menuMobiel a {color:white; font-size: 23px;line-height: 40px;} /* tekst: dropdown menu mobiele versie */
.menuMobiel a:hover{color:gray;}
.menuLaptop a{color: black;}
.menuLaptop a:hover{color: rgba(85, 12, 12, 0.974)}
.headerblock{background-color:inherit;font-size: 30px;}



}


